# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
data/
data/processed/
*.csv
*.zip

# Python cache
.pytest_cache/

# Environment variables
.env